.dashboard-container {
    padding-left: 20rem;
    padding-right: 20rem;

}

.heading-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.heading-container h1 {
    width: 100%;
    margin-left: 2.5rem;
    color: white;
}

.features-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 1rem
}


.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-container button {
    padding: 0.5rem 1rem;
    border: 1px solid #898a8b;
    background-color: white;
    border-radius: 0.4rem;
    font-size: 0.875rem;
    color: #4a5568;
    cursor: pointer;
}

.pagination-container button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}



.pagination-container input {
    display: flex;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border: 1px solid #898a8b;
    border-radius: 0.4rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    width: 2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


@media (width < 1400px) {
    .dashboard-container {
        padding-left: 0.8rem;
        padding-right: 0.8rem;

    }

    .heading-container {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .heading-container h1 {
        display: flex;
        justify-content: center;
        margin: 0;

    }


    .features-container {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 1rem
    }
}