.sorting-container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding-top: 0.75rem;


}

.sorting-container span {
    color: #555e68;
    font-size: 0.9rem;
}


.dropdown-container select {
    font-size: 0.9rem;
    font-weight: bold;
    color: #D3D3D3;
    background-color: #6366f1;
    padding: 0.5rem 2rem 0.5rem 0.75rem;
    border: 1px solid #333;
    border-radius: 0.3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
}



.order-toggle-button button {
    font-size: 0.9rem;
    font-weight: bold;
    color: #D3D3D3;
    background-color: #6366f1;
    border: 1px solid #333;
    border-radius: 0.3rem;
    cursor: pointer;
    width: 8.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flipped-svg {
    rotate: 180deg;
}


@media (width < 500px) {
    .sorting-container span {
        display: none;
    }

    .order-toggle-button p {
        display: none;
    }

    .order-toggle-button button {
        width: 2.5rem;
        aspect-ratio: 1/1;
    }

}


@media (width >=500px) {}