body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #1a202c;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
}

/*-------------Dashboard CSS---------------*/

.dashboard-container {
    padding-left: 20rem;
    padding-right: 20rem;
}

.heading-container {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #1a202c;
    padding-bottom: 1rem;
}

.heading-container h1 {
    width: 100%;
    color: #fff
}

.features-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 1rem
}


.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-container button {
    padding: 0.5rem 1rem;
    border: 1px solid #898a8b;
    background-color: white;
    border-radius: 0.4rem;
    font-size: 0.875rem;
    color: #4a5568;
    cursor: pointer;
}

.pagination-container button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}



.pagination-container input {
    display: flex;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border: 1px solid #898a8b;
    border-radius: 0.4rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    width: 2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.no-match-output {
    color: #6366f1;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

@media (width < 1400px) {
    .dashboard-container {
        padding-left: 0.8rem;
        padding-right: 0.8rem;

    }

    .heading-container {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .heading-container h1 {
        display: flex;
        justify-content: center;
        margin: 0;

    }


    .features-container {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 1rem
    }
}

/*-------------Filtering CSS---------------*/
.filter-wrapper-main {
    padding-top: 0.75rem;
}

.filter-panel-content {
    background-color: #2d3748;
    border: 1px solid #cfd0d3;
    border-radius: 0.5rem;
    padding: 1.25rem;
    margin-top: 0.5rem;
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 1.25rem;
}


.filter-text-input {
    width: 100%;
    padding: 0.6rem 0.75rem;
    color: #000000;
    border: 1px solid #d1d5db;
    border-radius: 0.4rem;
    box-sizing: border-box;

}

.filter-text-input::placeholder {
    color: #9ca3af;
}

.apply-button {
    background-color: #6366f1;
    color: #fff;
    width: 100%;
    padding: 0.6rem 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #4b5563;
    cursor: pointer;
    font-weight: bold;
}

.clear-button {
    background-color: #DC2525;
    color: #fff;
    width: 100%;
    padding: 0.6rem 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #4b5563;
    cursor: pointer;
    font-weight: bold;
}

@media (width < 500px) {
    .filter-toggle-btn {
        font-weight: bold;
        background-color: #6366f1;
        color: #333;
        border: 1px solid #4b5563;
        border-radius: 0.3rem;
        font-size: 0.9rem;
        cursor: pointer;
        transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        aspect-ratio: 1/1;
    }

    .filter-toggle-btn p {
        display: none;
    }

}


@media (width >=500px) {
    .filter-toggle-btn {
        font-weight: bold;
        background-color: #6366f1;
        color: #D3D3D3;
        border: 1px solid #4b5563;
        border-radius: 0.3rem;
        font-size: 0.9rem;
        cursor: pointer;
        transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8.5rem;
        padding: 0.5rem;
        height: 2.5rem;
    }

}

/*-------------Sliders CSS---------------*/
.filter-label {
    font-size: 0.875rem;
    font-weight: 500;
    color: #D3D3D3;
}

.range-inputs-container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

input[type="range"].filter-range-input {
    accent-color: #6366f1;
    cursor: pointer;
    margin: 0.25rem 0;
}

.range-value {
    font-size: 0.8rem;
    color: #9e9e9e;
}


/*-------------Sorting CSS---------------*/
.sorting-container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding-top: 0.75rem;


}

.sorting-container span {
    color: #555e68;
    font-size: 0.9rem;
}


.dropdown-container select {
    font-size: 0.9rem;
    font-weight: bold;
    color: #D3D3D3;
    background-color: #6366f1;
    padding: 0.5rem 2rem 0.5rem 0.75rem;
    border: 1px solid #333;
    border-radius: 0.3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
}



.order-toggle-button button {
    font-size: 0.9rem;
    font-weight: bold;
    color: #D3D3D3;
    background-color: #6366f1;
    border: 1px solid #333;
    border-radius: 0.3rem;
    cursor: pointer;
    width: 8.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flipped-svg {
    rotate: 180deg;
}


@media (width < 500px) {
    .sorting-container span {
        display: none;
    }

    .order-toggle-button p {
        display: none;
    }

    .order-toggle-button button {
        width: 2.5rem;
        aspect-ratio: 1/1;
    }

}


/*-------------RowData CSS---------------*/
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.row-data-container {
    margin-bottom: 0.8rem;
    border: 0.09rem solid #6366f1;
    border-radius: 0.5rem;
    list-style-type: none;
    padding: 1rem;
    background-color: #2d3748;
    display: flex;
    gap: 2rem;
    align-items: center;

}

.sensor-id-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #6366f1;
    border-radius: 50%;
    width: 5.5rem;
    height: 5.5rem;
    box-sizing: border-box;
    flex-shrink: 0;
}

.sensor-id {
    font-weight: bold;
    font-size: 1em;
    color: #D3D3D3;
}


.metric-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    flex-grow: 1;
    min-width: 0;
    width: 100%;
}

.expanded-container {
    margin-top: 0.75rem;
    padding: 0.75rem 0 0.75rem 1.5rem;
    border-top: 0.09rem dashed #adb5bd;
    font-size: 0.9em;
    color: #fff;
}

.expanded-container p {
    margin: 0.3rem 0;
}

.pinned-button{
    margin: 0.2rem;
    display: flex;
    justify-content: end;
    
}

.pinned-button button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (width <=500px) {

    .sensor-id-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #6366f1;
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        box-sizing: border-box;
        flex-shrink: 0;
    }

    .sensor-id {
        font-weight: bold;
        font-size: 1em;
        color: #d1d5db;
    }


    .metric-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        flex-grow: 1;
        min-width: 0;
        padding-left: 0;
    }
}

/*-------------Metric CSS---------------*/
.metric-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.metric-info{
    display: flex;
    gap: 1rem;
}
.metric-icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.metric-name{
    font-weight: 600;
    color: #fff
}

.metric-progress {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: 85%;
}

.metric-value {
    font-size: 0.85em;
    margin-left: 0.3rem;
    margin-bottom: 0.3rem;
    color: #fff;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.pin-and-timestamp-container{
    display: flex;
    flex-direction: column;
    text-align: end;
    justify-content: space-between;
    align-self: stretch;     
    color: #fff;
}

.timestamp{
    width: 100%;
}

.outer-bar {
    width: 100%;
    height: 0.55rem;
    background-color: #4a5568;
    border-radius: 0.4rem;
    min-width: 0;
}

.inner-bar-temperature {
    height: 100%;
    border-radius: 0.4rem;
    transition: width 0.3s ease-in-out;
    background-image: linear-gradient(to right, #f97316, #ef4444);

}

.inner-bar-airQuality {
    height: 100%;
    border-radius: 0.4rem;
    transition: width 0.3s ease-in-out;
    background-image: linear-gradient(to right, #22d3ee, #3b82f6);
}

.inner-bar-humidity {
    height: 100%;
    border-radius: 0.4rem;
    transition: width 0.3s ease-in-out;
    background-image: linear-gradient(to right, #4ade80, #10b981);
}

/*-------------Pins CSS---------------*/
.pins-main-container {
    position: relative; 
}

.pins-toggle-button {
    font-weight: bold;
    background-color: #6366f1;
    color: #D3D3D3;
    border: 1px solid #4b5563;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.5rem;
    padding: 0.5rem;
    height: 2.5rem;
    margin-top: 0.75rem;
}

.pins-toggle-button svg{
    width: 1.1rem;
}

.pinned-items-panel {
    background-color: #2d3748; 
    border: 1px solid #4a5568;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 0.5rem;   
    position: absolute;   
    min-width: 500px;    
    max-height: 400px;    
    overflow-y: auto;     
    display: flex;        
    flex-direction: column;
    gap: 0.75rem;        
}

.no-pins-message{
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.unpin-button {
    background-color: transparent;
    border: none;
}

.pinned-item-content-wrapper{
    border: 1px solid #6366f1;
    border-radius: 0.7rem;
    padding:0.5rem;
}

.pinned-items-panel .sensor-id-container {
     width: 4rem; 
     height: 4rem; 
}
.pinned-items-panel .sensor-id {
     font-size: 0.8em; 
}

.pinned-items-panel .expanded-container {
    font-size: 0.85em;
    color: #fff; 
    border-top: 1px solid #6366f1;
}
.pinned-items-panel .expanded-container p{
    color: #a0aec0;
}